.u-center-text {
  text-align: center;
}

.u-margin-bottom-big { margin-bottom: 8rem;}
.u-margin-bottom-medium { margin-bottom: 4rem;}
.u-margin-bottom-small { margin-bottom: 1.5rem;}

.u-rounded-light {border-radius: 5px;}
.u-rounded-medium {border-radius: 10px;}
.u-rounded-heavy {border-radius: 100px;}